@import "fonts";
@import "reset";
@import "variables";
//@import "keyframes";

/*style*/
html, body {
  font: 400 16px/1.2 Arial, Verdana, sans-serif;
  height: 100%;
  min-width: 320px;
   background: $softgray;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 1 auto;
}

// continer
.container {
  max-width: 970px;
  margin: 0 auto;
}