// colors
$darkblue:#2e4265;
$lightbrown: #d68c6f;
$gray: #6d6d6d;
$softgray: #e4ddcf;
$white: #ffffff;
$whitegray: #f3f3f3;
$black__1: #282828;
$black__2: #636363;
$black__3: #555555;

// font-size
$fs__63: 63px;
$fs__60: 60px;
$fs__27: 27px;
$fs__18: 18px;
$fs__16: 16px;

